@import "calendar";
@import "dividers";

.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.required-field {
  color: #b94e4c;
}

.form-group.required label:after {
  @extend .required-field;

  position: relative;
  left: 2px;

  content: "*";
}

.inline-block {
  display: inline-block;
}