.messages-container {
  max-width: 650px;
  margin: 0 auto;

  .alert {
    margin: 25px auto;
  }
}

.main-container {
  display: flex;
  flex-grow: 1;

  .content {
    flex-grow: 1;
    padding: 15px 15px 0 15px;
  }
}