.sidebar-wrapper {
  width: 250px;

  background-color: $navbar-default-bg;
  border-right: 1px solid $navbar-default-border;

  transition: all 0.5s ease;

  .sidebar {
    padding: 12px 10px;

    a {
      display: inline-block;
      width: 100%;

      text-decoration: none;
    }

    .icon {
      position: relative;
      left: -5px;
      float: left;

      display: inline-block;
      width: 20px;

      text-align: center;
    }

    .badge-label {
      float: right;
    }

    .panel-heading {
      background-color: darken($panel-default-heading-bg, 5%);
    }

    .panel + .panel {
      margin-top: 32px;
    }
  }
}