.app-auth {
  @import "auth/breadcrumbs";
  @import "auth/navbar";
  @import "auth/sidebar";
  @import "auth/transaction-table";

  #flash-message-container,
  #session-message-container {
    max-width: 450px;
    margin: 0 auto;
    
    .alert {
      margin: 25px auto;
    }
  }

  #content {
    margin-left: $app-sidebar-width;
  }

  #breadcrumbs {
    margin: 60px 0 5px 0;
    padding: 7px 0;

    ol.breadcrumb {
      padding: 12px;
    }
  }

  #content-panel {

  }
}